@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&family=Noto+Serif+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

a {
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
}
ul {
  list-style: none;
}

#container {
  margin:0 auto;  /* 화면 중앙에 배치 */
  width:1200px;    /* 너비 */
}

/*********************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*********************************/

header{
  width:100%;    /*  너비 */
  height:115px;   /* 높이 */ 
  background-color:rgb(151, 105, 49);
  border: solid rgb(151, 105, 49);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* 로고 */
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:40%;   /*  너비 */ 
  height:100px;   /* 높이 */
  line-height:100px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left:30px;  /* 왼쪽에 여백 */
}
header h1 { 

  position: absolute; 

  left: 50px; 

  top: 0;

  padding: 0px 0 0;
  border:0px;
}
#logo h1 {
  margin-right: 100px;
  font-family:'Gugi', cursive;
  font-weight:70px;
  font-size:40px;   /* 글자 크기 */
  color:rgb(255, 255, 255);   /* 글자 색*/
  text-shadow:0 -1px 0 #222;  /* 그림자 색 */
  line-height: 105px;
}


#empty{
  margin: 0 auto;
  width: 1200px;
  height: 60px;
 
}
#container{
  width: 10000%;
  max-width: 1900px;
  min-width: 320px;
  margin: 0 auto;
}



.justify {
  text-align: justify;
}

body {
  background-color:#fff(151, 105, 49);;
}
#container1 {
  background-color:#fff;
  width: 1100px;
  margin:20px auto;
  padding:20px;
}
h3 {
  color: #222; /* 글자색 */
  font-size: 25px; /* 글자 크기 */
  margin: 20px; /* 제목과 다른 요소 간의 마진 여백 */
  padding: 300px auto;
  font-family: 'Nanum Gothic', sans-serif;
}	

#container1 {  /* 전체 콘텐츠를 감싸는 div */
  width:1100px;  /* 너비 */
  margin:0 auto;  /* 가로로 중앙에 배치 */
  padding:5px;	/* 테두리와 내용 사이의 패딩 여백 */		
}
table, th, td {
  border:1px solid #ccc;
  border-collapse: collapse;
}
th, td { 
  padding:100px 200px; 
}
#check {   /* 텍스트 부분을 감싸는 div */
  width:1100px;  /* 너비 - 그림 너비 값에 맞춤 */
  border:1px solid #222;  /* 테두리 */
}
p{
line-height: 2em; /* 줄간격 */
}
h2{
  color: rgb(104, 81, 53);
  width: 400px;
  font-size: 35px;
  float: center;
  font-family:'Gugi', cursive;
}
